
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="..\static\css\home.css">
  <title>My Website</title>
</head>
<body>
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>Exp</span>T<span></span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
          
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            <LI><a href="/signin" data-after="Login">-Login-</a></LI>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Welcome to <span></span></h1>
        <h1>Marvelous,<span></span></h1>
        <h1>Personal Expense Tracker App <span></span></h1>
        <a href="/signup" type="button" class="cta">Sign-up</a> 
      </div>
    </div>
  </section>
  <script src="..\static\js\home.js"></script>
</body>
</html>
